<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Blog</title>
</head>
<body>
  <nav data-bs-theme="dark" class="sticky-top">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/admin"><i class="fa-solid fa-pencil"> &nbsp;Blog</i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/admin">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/new">Write a blog</a>
              </li>
              <li class="login">
                <a class="nav-link" href="/login">
                    Logout
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </nav>
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            style="height: 45vh; width: 100vw; object-fit: cover"
            src="https://plus.unsplash.com/premium_photo-1669904022334-e40da006a0a3?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="d-block w-100"
            alt="blog-image1"
          />
        </div>
        <div class="carousel-item">
          <img
            style="height: 45vh; width: 100vw; object-fit: cover"
            src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="d-block w-100"
            alt="blog-image2"
          />
        </div>
        <div class="carousel-item">
          <img
            style="height: 45vh; width: 100vw; object-fit: cover"
            src="https://jumpseller.com/images/learn/create-a-blog/blog.jpg"
            class="d-block w-100"
            alt="blog-image3"
          />
        </div>
        <!-- <div class="card-img-overlay mt-5">
        <img
          src="https://www.pngkit.com/png/full/357-3570726_blog-word-blog.png"
        />
      </div> -->
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <ul class="nav nav-pills mt-4" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active cat"
          id="pills-home-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-home"
          type="button"
          role="tab"
          aria-controls="pills-home"
          aria-selected="true"
        >
          <b>ALL</b>
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link cat"
          id="pills-profile-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-profile"
          type="button"
          role="tab"
          aria-controls="pills-profile"
          aria-selected="false"
        >
          <b>TECH</b>
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link cat"
          id="pills-contact-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-contact"
          type="button"
          role="tab"
          aria-controls="pills-contact"
          aria-selected="false"
        >
          <b>FOOD</b>
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link cat"
          id="pills-life-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-life"
          type="button"
          role="tab"
          aria-controls="pills-life"
          aria-selected="false"
        >
          <b>LIFESTYLE</b>
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link cat"
          id="pills-business-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-business"
          type="button"
          role="tab"
          aria-controls="pills-business"
          aria-selected="false"
        >
          <b>BUSINESS</b>
        </button>
      </li>
  
      <li class="nav-item" role="presentation">
        <button
          class="nav-link cat"
          id="pills-fashion-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-fashion"
          type="button"
          role="tab"
          aria-controls="pills-fashion"
          aria-selected="false"
        >
          <b>FASHION & BEAUTY</b>
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link cat"
          id="pills-health-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-health"
          type="button"
          role="tab"
          aria-controls="pills-health"
          aria-selected="false"
        >
          <b>HEALTH & FITNESS</b>
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link cat"
          id="pills-travel-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-travel"
          type="button"
          role="tab"
          aria-controls="pills-travel"
          aria-selected="false"
        >
          <b>TRAVEL</b>
        </button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
        tabindex="0"
      >
        <%- include('includes/allCategory.ejs') -%>
      </div>
      <div
        class="tab-pane fade"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
        tabindex="0"
      >
        <%- include('includes/techCategory.ejs') -%>
      </div>
      <div
        class="tab-pane fade"
        id="pills-contact"
        role="tabpanel"
        aria-labelledby="pills-contact-tab"
        tabindex="0"
      >
        <%- include('includes/foodCategory.ejs') -%>
      </div>
  
      <div
        class="tab-pane fade"
        id="pills-life"
        role="tabpanel"
        aria-labelledby="pills-life-tab"
        tabindex="0"
      >
        <%- include('includes/lifestyle.ejs') -%>
      </div>
  
      <div
        class="tab-pane fade"
        id="pills-business"
        role="tabpanel"
        aria-labelledby="pills-business-tab"
        tabindex="0"
      >
        <%- include('includes/business.ejs') -%>
      </div>
  
      <div
        class="tab-pane fade"
        id="pills-fashion"
        role="tabpanel"
        aria-labelledby="pills-fashion-tab"
        tabindex="0"
      >
        <%- include('includes/fashion.ejs') -%>
      </div>
      <div
        class="tab-pane fade"
        id="pills-health"
        role="tabpanel"
        aria-labelledby="pills-health-tab"
        tabindex="0"
      >
        <%- include('includes/health.ejs') -%>
      </div>
      <div
        class="tab-pane fade"
        id="pills-travel"
        role="tabpanel"
        aria-labelledby="pills-travel-tab"
        tabindex="0"
      >
        <%- include('includes/travel.ejs') -%>
      </div>
    </div>
  </div>
    <%- include('includes/footer.ejs') -%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

